<!-- VIEW FOR ALL MEAL PLANS -->

@model SueChef.ViewModels.MealPlansPageViewModel

<div class="justify-center p-3">

    @* Error messages to display if post request unsuccessful *@
    <div asp-validation-summary="All"
        class="bg-red-50 border border-red-400 text-red-700 rounded p-3 mb-4 text-sm">
    </div>

    <style>
        /* Hides the errors until there are errors */
        .validation-summary-valid {
            display: none;
        }

        .validation-summary-errors {
            display: block;
            /* adds the errors */
        }
    </style>

    @* Button to send POST request - Add Recipe to Meal Plan *@
    <button id="add-newplan" class="justify-end bg-orange-600 text-white text-sm font-medium w-36 px-4 py-2 rounded-md hover:bg-orange-400 m-2">
        Add Meal Plan
    </button>

    @* Form to Create a new meal plan *@
    <div class="m-2">
        <form asp-action="Create" asp-controller="MealPlan" method="post" id="newplan-form"
            data-testid="newplan-form" label="newplan form" class="hidden">
            @Html.AntiForgeryToken()

            <input type="text" name="MealPlanTitle" label="newplan name" id="newplan-name-input" data-testid="newplan-name-input"
                class="border border-gray-300 rounded-md p-2 w-full" placeholder="New Meal Plan" />
            <button type="button" id="cancel-newplan"
                class="bg-gray-300 text-gray-800 text-sm w-36 px-4 py-2 rounded-md hover:bg-gray-400 mt-2"> 
                Cancel
            </button>
            <button id="submit-newplan" data-testid="submit-newplan" type="submit"
                class="bg-orange-600 text-white text-sm font-medium w-36 px-4 py-2 rounded-md hover:bg-orange-400 mt-2">Save
            </button>
        </form>
    </div>


    @* List of All Meal Plans: *@
    <section class="mb-8">
        <div class="max-w-6xl mx-auto mb-2">
            <h2 class="inline text-2xl font-semibold text-gray-800 mb-4 trackling-tight">Your Meal Plans</h2>
        </div>

        @foreach (SueChef.ViewModels.MealPlanViewModel mealPlan in Model.MealPlans)
        {
            <partial name="_MealPlanPartial" model="mealPlan" />
        }
    </section>


    @* Script to unhide form when Creating new meal plan  *@
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Create New Meal Plan
            const button = document.getElementById('add-newplan');
            const form = document.getElementById('newplan-form');
            const cancel = document.getElementById("cancel-newplan");

            if (button && form && cancel) {
                button.addEventListener('click', () => {
                    form.classList.remove('hidden');
                    button.classList.add('hidden');
                });

                cancel.addEventListener('click', () => {
                    form.classList.add('hidden');
                    button.classList.remove('hidden');
                });
            }
        });
    </script>
</div>