@using SueChef.ViewModels
<!-- VIEW FOR SINGLE MEAL PLANS -->

@model SingleMealPlanPageViewModel

<div class="justify-center p-3">

<!-- Main central container -->
    <div class="w-full max-w-4xl mx-auto">

    <!-- Container for Success Messages: -->
    <div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success flex items-center justify-center bg-green-100 border-l-4 border-green-600 text-green-800 p-2 rounded-md shadow mb-6">
                <svg class="w-8 h-8 mr-2 text-green-600" fill="none" stroke="currentColor" stroke-width="2"viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round"d="M5 13l4 4L19 7" />
                </svg>
                <span class="font-medium">@TempData["SuccessMessage"]</span>
                @if (TempData["DeletedRecipeId"] != null)
                {
                    <a asp-action="UndoDeleteRecipe" asp-route-id="@TempData["DeletedRecipeId"]" class="alert-link">
                        <button class="bg-orange-600 text-white text-sm font-medium w-20 px-3 py-1 rounded-md hover:bg-orange-400 m-2">
                            Undo
                        </button>
                    </a>
                }
            </div>
        }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
    </div>

        <!-- Meal Plan Title and Add Recipes button -->
        <section class="flex mb-2 justify-between items-end">
            <div class="mb-2">
                <h2 class="inline text-2xl font-semibold text-gray-800 mb-4 trackling-tight">@Model.MealPlan.MealPlanTitle - Recipes:</h2>
            </div>
            <a asp-controller="Home" asp-action="Index">
                <button class="bg-orange-600 text-white text-sm font-medium w-36 px-4 py-2 rounded-md hover:bg-orange-400 m-2">
                    Add Recipes
                </button>
            </a>
        </section>

        <section class="mb-8">
            <!-- Each recipe card: -->
            @foreach (SueChef.ViewModels.RecipeCardViewModel recipe in Model.RecipesList)
            {
                <partial name="_MealPlanRecipeCardPartial" model="recipe" />
            }
        </section>
    </div>
</div>

