@model SueChef.ViewModels.SignInViewModel

@{
    Layout = "_Layout";
    ViewData["HideNavAndFooter"] = true;
}

<main class="w-full max-w-sm rounded-lg p-8 flex flex-col items-center justify-center">

    <!-- Logo -->
    <a href="/" class="flex justify-center">
        <h1 class="text-white text-6xl hover:text-orange-400 mb-8"
            style="font-family: 'Macondo Swash Caps', cursive;">
            SueChef
        </h1>
    </a>

    <h2 class="text-center text-gray-100 text-xl font-medium mb-8" data-testid="sign-in-text">Sign in</h2>


    <!-- Error data for if user tries to rate a dish without being logged in -->
    @if (TempData["ErrorMessage"] != null)
    {
        <div
            class="flex items-center justify-center bg-orange-100 text-orange-800 p-4 rounded-md mb-6">
            <svg class="w-6 h-6 mr-2 text-orange-700" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
            <span class="font-medium">@TempData["ErrorMessage"]</span>
        </div>
    }

    <!-- Form container -->

    <div>
        <form id="login-form" asp-action="Create" asp-controller="Sessions" method="post"
            class="flex flex-col space-y-4" novalidate>
            @Html.AntiForgeryToken()

            <!-- Display Model Errors -->
            <div asp-validation-summary="ModelOnly" class="text-gray-100 mb-2"></div>

            <!-- Username  -->
            <div>
                <label for="username" class="mb-1 block text-sm text-gray-100"></label>
                <input asp-for="UserName" id="username" data-testid="username"
                    class="w-full border border-gray-400 px-3 py-2 focus:border-2 focus:border-rose-800 outline-none rounded-md"
                    placeholder="Username*" />
                @if (ViewData.ModelState.TryGetValue(nameof(Model.UserName), out var userNameState) &&
                                userNameState.Errors.Any())
                {
                    <div class="text-red-600 text-sm font-bold mt-1">@userNameState.Errors.First().ErrorMessage
                    </div>
                }
            </div>

            <!-- Password  -->
            <div class="relative">
                <label for="password" class="mb-1 block text-sm text-gray-100"></label>
                <input asp-for="Password" data-testid="password" id="password"
                    class="w-full border border-gray-400 px-3 py-2 focus:border-2 focus:border-rose-800 outline-none rounded-md"
                    placeholder="Password*" />
                <button type="button" class="absolute inset-y-0 right-3 flex items-center text-gray-800"
                    onclick="togglePassword()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                    </svg>
                </button>
                @if (ViewData.ModelState.TryGetValue(nameof(Model.Password), out var passState) &&
                                passState.Errors.Any())
                {
                    <div class="text-red-600 text-sm font-bold mt-1">@passState.Errors.First().ErrorMessage</div>
                }
            </div>

            <!-- Submit Button -->
            <div class="flex justify-center">
                <button type="submit" id="signin-submit" data-testid="signin-submit"
                    class="bg-orange-500 hover:bg-orange-600 text-gray-100 text-sm font-medium w-48 px-4 py-2 rounded-full">Sign
                    In</button>
            </div>

            <!-- Create Account -->
            <div class="text-center text-gray-100 mt-4 mb-8">New here?
                <a class="text-gray-100 hover:underline" href="/signup" id="signup">Create an account</a>
            </div>

            <!-- Divider -->
            <div class="flex items-center my-4">
                <hr class="flex-grow border-gray-300">
                <span class="px-2 text-sm text-gray-100">OR</span>
                <hr class="flex-grow border-gray-300">
            </div>

            <!-- Social Logins -->
            <div class="space-y-2">

                <a href="/login/google" type="button"
                    class="w-full bg-white border border-gray-300 rounded-full py-3 flex items-center justify-center px-3 text-gray-600 space-x-2 hover:bg-gray-200 transition">
                    <img src="https://www.svgrepo.com/show/475656/google-color.svg" class="w-5 h-5" />
                    <span class="text-sm">Continue with Google</span>
                </a>
            </div>

        </form>
</main>


<script>
    function togglePassword() {
        const pwd = document.getElementById('password');
        pwd.type = pwd.type === 'password' ? 'text' : 'password';
    }
</script>

<!-- Ensures boxes have consistent backgrounds regardless of input and browser settings -->
<style>
    input, select, textarea {
        background-color: #f9fafb; /* matches Tailwind's gray-50 */
    }

    input:focus, select:focus, textarea:focus {
        background-color: #f9fafb;
    }

    /* Prevent Chrome autofill from using yellow background */
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #f9fafb inset !important;
        -webkit-text-fill-color: #000 !important;
    }
</style>