@model SueChef.ViewModels.CategoryCarouselViewModel

<section class="mb-4">
    <div class="flex justify-start pl-[5%] md:pl-0 md:justify-start max-w-6xl mx-auto mb-2">
        <h2 class="text-2xl font-semibold text-gray-800  tracking-tight">
            Categories
        </h2>
    </div>

    <div id="@Model.CarouselId" data-carousel class="relative max-w-6xl mx-auto overflow-visible h-72 sm:h-96 md:h-52 lg:h-52">

        <!-- Left Button (&#8592 is the left arrow symbol) -->
        <button type="button"
            class="carousel-left hidden md:flex absolute left-16 md:-left-2 top-1/2 -translate-y-1/2 z-30 bg-orange-100 hover:bg-orange-300 text-gray-700 rounded-full w-8 h-8 border border-gray-400 items-center justify-center shadow-md" data-testid="category-carousel-left-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </button>

        <!-- Carousel Track -->
        <div
            class="carousel-track flex overflow-x-auto scroll-smooth snap-x snap-mandatory transition-all duration-500 justify-start hide-scrollbar pl-[5%] md:pl-0 pr-[15%] sm:pr-[10%] md:pr-[10%] h-full z-10">
            @foreach (var category in Model.Categories)
            {
                <div class="carousel-card snap-center flex-shrink-0 w-[90%] sm:w-[60%] md:w-[40%] lg:w-[24.25%] mr-2" data-testid="category-@category.Category">
                    <partial name="_CategoryCardPartial" model="category" />
                </div>
            }
        </div>

        <!-- Right Button (&#8594 is the right arrow symbol) -->
        <button type="button"
            class="carousel-right hidden md:flex absolute right-16 md:-right-2 top-1/2 -translate-y-1/2 z-30 bg-orange-100 hover:bg-orange-300 text-gray-700 rounded-full w-8 h-8 border border-gray-400 border border-gray-200 items-center justify-center shadow-md" data-testid="category-carousel-right-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
    </div>
</section>
