@model SueChef.ViewModels.CategoryCardViewModel

@* @{
    string headingText = Model.Title; // Default
    if (Model.IsVegetarian)
    {
        headingText = "Vegetarian Recipes";
    }
    else if (Model.IsDairyFree)
    {
        headingText = "Dairy-Free Recipes";
    }
    else if (Model.DifficultyLevel == 1)
    {
        headingText = "Easy Recipes";
    }
    else if (Model.DifficultyLevel == 2)
    {
        headingText = "Medium Recipes";
    }
    else if (Model.DifficultyLevel == 3)
    {
        headingText = "Hard Recipes";
    }
    else if (Model.PrepTime + Model.CookTime < 60)
    {
        headingText = "Quick Recipes";
    }
    else if (Model.PrepTime + Model.CookTime > 60)
    {
        headingText = "If you have the time for something special";
    }
    else if (Model.AverageRating > 4)
    {
        headingText = "Our most highly rated recipes";
    }
    else if (Model.RatingCount > 4)
    {
        headingText = "Our most rated recipes";
    }
} *@

<div
    class="flex flex-col hover:shadow-md snap-center bg-white overflow-hidden transition-all duration-300 border-2 border-gray-200  mb-2 flex-shrink-0 h-full h-[90%] sm:h-[90%] md:h-full lg:h-full">

    <a asp-controller="RecipeDetails" asp-action="Index" asp-route-id="@Model.Id" class="flex flex-col ">


        <!-- Row one: picture -->
        <div class="w-full">
            <img src="@Model.RecipePicturePath" alt="Recipe Picture"
                class="w-full h-72 sm:h-96 md:h-52 lg:h-52 object-cover" />
        </div>

        <div class="flex-1 flex flex-col justify-between p-2 min-h-32">
            <!-- Row two: text -->
            <h3
                class="text-2xl text-gray-700 md:text-xl lg:text-xl line-clamp-4 font-medium hover:text-orange-800 transition mb-1 min-h-14">
                @Model.Text
            </h3>
        </div>
    </a>
</div>