@model SueChef.ViewModels.CategoryCarouselViewModel

<section class="mb-4">
    <div class="flex justify-center md:justify-start max-w-6xl mx-auto mb-2">
        <h2 class="text-2xl font-semibold text-gray-800  tracking-tight">
            Categories
        </h2>
    </div>

    <div id="@Model.CarouselId" data-carousel class="relative max-w-6xl mx-auto">

        <!-- Left Button (&#8592 is the left arrow symbol) -->
        <button type="button"
            class="carousel-left absolute left-16 sm:-left-4 top-1/4 -translate-y-1/2 bg-orange-100 hover:bg-orange-300 text-gray-700 rounded-full w-10 h-10 shadow-md">
            &#8592;
        </button>

        <!-- Carousel Track -->
        <div
            class="carousel-track flex overflow-x-auto scroll-smooth snap-x snap-mandatory transition-all duration-500 gap-8 sm:gap-4 md:gap-2 justify-start hide-scrollbar px-[15%] sm:px-[10%] md:px-[10%]">
            @foreach (var category in Model.Categories)
            {
                <div class="carousel-card snap-center flex-shrink-0 w-[90%] sm:w-[60%] md:w-[40%] lg:w-[24.25%]">
                    <partial name="_CategoryCardPartial" model="category" />
                </div>
            }
        </div>

        <!-- Right Button (&#8594 is the right arrow symbol) -->
        <button type="button"
            class="carousel-right absolute right-16 sm:-right-4 top-1/4 -translate-y-1/2 bg-orange-100 hover:bg-orange-300 text-gray-700 rounded-full w-10 h-10 z-10 shadow-md">&#8594;
        </button>
    </div>
</section>

<!-- Hide scrollbar utility -->
<style>
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>