@model SueChef.ViewModels.MealPlanViewModel

<div class=" flex justify-center">
    <div
        class="hover:shadow-xl w-full max-w-6xl bg-white rounded-md overflow-hidden transition-all duration-300 border-2 border-gray-200 p-3 md:p-6 mb-2 h-full">
        <a asp-controller="MealPlan" asp-action="Show" asp-route-id="@Model.Id"
            class="block transition-all duration-300 h-full">

            <!-- Left side: picture -->
            <div class="flex md:items-start gap-3 h-full">
                <!-- Left side: picture -->
                <div class="w-24 h-24 md:w-48 lg:w-56 flex-shrink-0">
                    <img src="/images/Placeholder_Meal.jpg" alt="Recipe Picture"
                        class="w-full h-full md:h-36 lg:h-40 object-cover rounded-md border border-gray-300" />
                </div>

                <!-- Right side: text -->
                <div class="flex flex-col justify-between md:w-[65%] lg:flex-grow h-full">

                    <!-- Meal Plan Title -->
                    <h3
                        class="text-2xl text-gray-700 md:text-2xl lg:text-2xl font-medium hover:text-orange-800 transition ">
                        @Model.MealPlanTitle
                    </h3>

                    <p class="recipe-card__description text-gray-600 line-clamp-2 break-words md:text-lg lg:text-lg mt-2">
                        Recipes: @Model.RecipeCount
                    </p>

                    <p class="recipe-card__description text-gray-600 line-clamp-2 break-words md:text-lg lg:text-lg mt-2">
                        Updated On: @Model.UpdatedOn
                    </p>

                </div>
            </div>
        </a>
    </div>
</div>