html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* I added this in to stop the extra scrolling at the top */
html,
body {
  overscroll-behavior-y: none;
}

/* Adding this so we can make the text logo glow (if not using image)
.logo-text {
  transition: text-shadow 0.3s ease, filter 0.3s ease;
}

/* Glow only on hover */
/* .logo-text:hover {
  text-shadow:
    0 0 3px rgba(255, 255, 255, 0.5),
    0 0 5px rgba(255, 255, 255, 0.3),
    0 0 8px rgba(255, 255, 255, 0.2);
  filter: brightness(1.1);
} */

/* Used this to debug which element was sticking out too much on the side (it outlines all elements in red) */
/* * {
  outline: 1px solid red !important;
} */
