@using SueChef.Models
@using SueChef.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<!-- Defines the Model variable and what type it should be -->
@model SueChef.ViewModels.HomePageViewModel
<body class="bg-orange-50">

    <div class="flex flex-col items-center justify-center">
        <div
            class="hover:shadow-xl w-full max-w-4xl bg-white rounded-md overflow-hidden transition-all duration-300 border-2 border-gray-200 p-3 md:p-6 mb-2">
            <a asp-controller="RecipeDetails" asp-action="Index" asp-route-id="@Model.FeaturedRecipe.Id" class="block transition-all duration-300">
            <div class="w-full">
                        <img src="@Model.FeaturedRecipe.RecipePicturePath" alt="Recipe Picture"
                            class="w-full md:h-64 lg:h-80 object-cover rounded-md border border-gray-300" />
            </div>
            </a>
        </div>

        <div class="">
            @foreach (var recipe in Model.RecipeCards)
            {
                <partial name="_RecipeCardHorizontalPartial" model="recipe" />
            }
        </div>

        @* <div class="">
            @foreach (var recipe in Model.RecipeCards)
            {
                <partial name="_RecipeCardHorizontalPartial" model="recipe" />
            }
        </div> *@
    </div>
</body>