@using SueChef.Models
@using SueChef.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<!-- Defines the Model variable and what type it should be -->
@model IEnumerable<SueChef.ViewModels.RecipeCardViewModel>

<body class="bg-orange-50">

    <section class="mb-8">
        <h2 class="text-2xl text-center font-semibold mb-4">Batch cooking winners</h2>
        @{
            var verticalRecipes = Model.Take(5);
        }

        <div class="flex flex-wrap justify-center gap-4">
            @foreach (var recipe in verticalRecipes)
            {
                <partial name="_RecipeCardVerticalPartial" model="recipe" />
            }
        </div>
    </section>

    <section class="mb-8">
        <h2 class="text-2xl text-center font-bold mb-4">Trending now</h2>
        @{
            var horizontalRecipes = Model.Skip(5).Take(5);
        }

        @foreach (var recipe in horizontalRecipes)
        {
            <partial name="_RecipeCardHorizontalPartial" model="recipe" />
        }
    </section>


</body>