@using SueChef.Models
@using SueChef.Controllers
@{
    ViewData["Title"] = "Home Page";
}

@* @foreach (var recipe in ViewBag.Recipes)
{
  <div class="mb-6">
    <h3 class="font-semibold">@recipe.Title</h3>

    <ul class="list-disc ml-6">
      @foreach (var ri in recipe.RecipeIngredients)
      {
        <p>
          @ri.Ingredient.Name;
        </p>
      }
    </ul>
  </div>
} *@

<!-- Defines the Model variable and what type it should be -->
@model IEnumerable<SueChef.ViewModels.RecipeCardViewModel>
<body class="bg-orange-100">
<div class="flex flex-col text-orange-700 justify-center items-center text-4xl font-bold mb-2 ">
<h1>Cook Bold. Eat Happy</h1>
</div>
<div class="bg-orange-100">
    <div class="RecipeCard">
        @foreach (var recipe in Model)
        {
            <partial name="_RecipeCardHorizontalPartial" model="recipe" />
        }
    </div>
</div>
</body>