@using SueChef.Models
@using SueChef.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<!-- Defines the Model variable and what type it should be -->
@model SueChef.ViewModels.HomePageViewModel

<body class="bg-orange-50">
    @if (TempData["DeleteSuccessMessage"] != null)
    {
        <div id="messageZone" class="h-9 flex items-center justify-center mt-3 mb-3">
            <div id="DeleteSuccess" class="bg-red-50 border border-red-400 text-red-700 rounded p-3 text-sm">
                @TempData["DeleteSuccessMessage"]
            </div>
        </div>
    }
    <!-- TOP FEATURED RECIPE SECTION -->
    <section class="mb-8">
        <partial name="_FeaturedRecipePartial" model="Model.TopFeaturedRecipe" />
    </section>

    TEST 4

    <!-- RECIPE CATEGORIES CAROUSEL SECTION -->
    <section class="mb-4">
        <partial name="_CategoryCarouselPartial" model="Model.CategoryCarouselViewModel" />
    </section>

    <!-- EASY RECIPES CAROUSEL SECTION -->

    <section class="mb-12 md:mb-4">
        <partial name="_RecipeCarouselPartial" model="Model.EasyRecipesCarousel" />
        <div class="mt-6 flex justify-center">
            <a asp-controller="categories" asp-action="Index" asp-route-category="easy"
                class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                data-testid="easy-recipes-under-carousel-button">
                Easy Recipes
            </a>
        </div>
    </section>


    <!-- MEDIUM RECIPES CAROUSEL SECTION -->

    <section class="mb-12 md:mb-4">
        <partial name="_RecipeCarouselPartial" model="Model.MediumRecipesCarousel" />
        <div class="mt-6 flex justify-center">
            <a asp-controller="categories" asp-action="Index" asp-route-category="medium"
                class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                data-testid="medium-recipes-under-carousel-button">
                Medium Recipes
            </a>
        </div>
    </section>

    <!-- HARD RECIPES CAROUSEL SECTION -->

    <section class="mb-12 md:mb-4">
        <partial name="_RecipeCarouselPartial" model="Model.HardRecipesCarousel" />
        <div class="mt-6 flex justify-center">
            <a asp-controller="categories" asp-action="Index" asp-route-category="hard"
                class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                data-testid="hard-recipes-under-carousel-button">
                Hard Recipes
            </a>
        </div>
    </section>

    <!-- QUICK RECIPES CAROUSEL SECTION -->

    <section class="mb-12 md:mb-4">
        <partial name="_RecipeCarouselPartial" model="Model.QuickRecipesCarousel" />
        <div class="mt-6 flex justify-center">
            <a asp-controller="categories" asp-action="Index" asp-route-category="quick"
                class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                data-testid="Quick-recipes-under-carousel-button">
                Quick Meals
            </a>
        </div>
    </section>

    <!-- MIDDLE FEATURED RECIPE SECTION -->
    <section class="mt-12 mb-12 md:mb-4">
        <partial name="_FeaturedRecipePartial" model="Model.MiddleFeaturedRecipe" />
    </section>

    <!-- HIGHLY RATED RECIPES CAROUSEL SECTION -->
@{
    int count = Model.HighlyRatedRecipesCarousel.Recipes.Count();
}
    @if (count > 0)
    {
        <section class="mb-12 md:mb-4">
            <partial name="_RecipeCarouselPartial" model="Model.HighlyRatedRecipesCarousel" />
            <div class="mt-6 flex justify-center">
                <a asp-controller="categories" asp-action="Index" asp-route-category="highlyrated"
                    class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                    data-testid="HighlyRated-recipes-under-carousel-button">
                    Highly Rated Recipes
                </a>
            </div>
        </section>
    }

    <!-- MOST POPULAR RECIPES CAROUSEL SECTION -->

    <section class="mb-12 md:mb-4">
        <partial name="_RecipeCarouselPartial" model="Model.MostPopularRecipesCarousel" />
        <div class="mt-6 flex justify-center">
            <a asp-controller="categories" asp-action="Index" asp-route-category="mostpopular"
                class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                data-testid="MostPopular-recipes-under-carousel-button">
                Most Popular Recipes
            </a>
        </div>
    </section>

    <!-- DAIRY FREE RECIPES CAROUSEL SECTION -->

    <section class="mb-12 md:mb-4">
        <partial name="_RecipeCarouselPartial" model="Model.DairyFreeRecipesCarousel" />
        <div class="mt-6 flex justify-center">
            <a asp-controller="categories" asp-action="Index" asp-route-category="dairyfree"
                class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                data-testid="DairyFree-recipes-under-carousel-button">
                Dairy-Free Recipes
            </a>
        </div>
    </section>

    <!-- VEGETARIAN RECIPES CAROUSEL SECTION -->

    <section class="mb-12 md:mb-4">
        <partial name="_RecipeCarouselPartial" model="Model.VegetarianRecipesCarousel" />
        <div class="mt-6 flex justify-center">
            <a asp-controller="categories" asp-action="Index" asp-route-category="vegetarian"
                class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                data-testid="Vegetarian-recipes-under-carousel-button">
                Vegetarian Recipes
            </a>
        </div>
    </section>

    <!-- ALL VERTICAL RECIPES CAROUSEL SECTION -->

    <section class="mb-12 md:mb-4">
        <partial name="_RecipeCarouselPartial" model="Model.AllRecipesCarousel" />
        <div class="mt-6 flex justify-center">
            <a asp-controller="categories" asp-action="Index" asp-route-category="allrecipes"
                class="items-center bg-orange-500 hover:bg-orange-600 text-white sm:text-sm md:text-md lg:text-md font-medium px-4 py-2 rounded-full transition"
                data-testid="All-recipes-under-carousel-button">
                All Recipes
            </a>
        </div>
    </section>

    <!-- HORIZONTAL RECIPES SECTION -->

    <section class="mb-8 px-5 sm:px-6 md:px-0">
        <div class="max-w-6xl mx-auto mb-2 ">
            <h2 class="inline text-2xl font-semibold text-gray-800 mb-4 tracking-tight">Don't know what to make? Here's
                a random selection</h2>
        </div>
        @{
            var horizontalRecipes = Model.RecipeCards.Take(5);
        }

        @foreach (var recipe in horizontalRecipes)
        {
            <partial name="_RecipeCardHorizontalPartial" model="recipe" />
        }
    </section>

    <!-- BOTTOM FEATURED RECIPE SECTION -->
    <section class="mb-8">
        <partial name="_FeaturedRecipePartial" model="Model.BottomFeaturedRecipe" />
    </section>

</body>