@using SueChef.Models
@using SueChef.Controllers
@{
    ViewData["Title"] = "Home Page";
}

@* @foreach (var recipe in ViewBag.Recipes)
{
  <div class="mb-6">
    <h3 class="font-semibold">@recipe.Title</h3>

    <ul class="list-disc ml-6">
      @foreach (var ri in recipe.RecipeIngredients)
      {
        <p>
          @ri.Ingredient.Name;
        </p>
      }
    </ul>
  </div>
} *@

<!-- Defines the Model variable and what type it should be -->
@model IEnumerable<SueChef.ViewModels.RecipeCardViewModel>

<h2>All Recipes</h2>

<div class="RecipeCard">
    @foreach (var recipe in Model)
    {
        <partial name="_RecipeCardHorizontalPartial" model="recipe" />
    }
</div>
