@using SueChef.Models
@using SueChef.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<!-- Defines the Model variable and what type it should be -->
@model SueChef.ViewModels.HomePageViewModel

<body class="bg-orange-50">

    <!-- TOP FEATURED RECIPE SECTION -->
    <section class="mb-8">
        <partial name="_FeaturedRecipePartial" model="Model.TopFeaturedRecipe" />
    </section>

    <!-- RECIPE CATEGORIES CAROUSEL SECTION -->
    <section class="mb-8">
        <partial name="_CategoryCarouselPartial" model="Model.CategoryCarouselViewModel" />
    </section>

    <!-- EASY RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.EasyRecipesCarousel" />
    </section>

    <!-- MEDIUM RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.MediumRecipesCarousel" />
    </section>

    <!-- HARD RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.HardRecipesCarousel" />
    </section>

    <!-- QUICK RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.QuickRecipesCarousel" />
    </section>

    <!-- MIDDLE FEATURED RECIPE SECTION -->
    <section class="mb-8">
        <partial name="_FeaturedRecipePartial" model="Model.MiddleFeaturedRecipe" />
    </section>

    <!-- HIGHLY RATED RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.HighlyRatedRecipesCarousel" />
    </section>

    <!-- MOST RATED RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.MostRatedRecipesCarousel" />
    </section>

    <!-- DAIRY FREE RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.DairyFreeRecipesCarousel" />
    </section>

    <!-- VEGETARIAN RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.VegetarianRecipesCarousel" />
    </section>

    <!-- ALL VERTICAL RECIPES CAROUSEL SECTION -->

    <section class="mb-8">
        <partial name="_RecipeCarouselPartial" model="Model.AllRecipesCarousel" />
    </section>

    <!-- HORIZONTAL RECIPES SECTION -->

    <section class="mb-8 px-5 sm:px-6 md:px-0">
        <div class="max-w-6xl mx-auto mb-2 ">
            <h2 class="inline text-2xl font-semibold text-gray-800 mb-4 trackling-tight">5 Random Recipes</h2>
        </div>
        @{
            var horizontalRecipes = Model.RecipeCards.Skip(5).Take(5);
        }

        @foreach (var recipe in horizontalRecipes)
        {
            <partial name="_RecipeCardHorizontalPartial" model="recipe" />
        }
    </section>

    <!-- BOTTOM FEATURED RECIPE SECTION -->
    <section class="mb-8">
        <partial name="_FeaturedRecipePartial" model="Model.BottomFeaturedRecipe" />
    </section>

</body>