@using SueChef.Models
@using SueChef.Controllers
@{
    ViewData["Title"] = "Home Page";
}

<!-- Defines the Model variable and what type it should be -->
@model IEnumerable<SueChef.ViewModels.RecipeCardViewModel>
<body class="bg-orange-50">

    <div class="">
        @foreach (var recipe in Model)
        {
            <partial name="_RecipeCardHorizontalPartial" model="recipe" />
        }
    </div>

    <div class="">
        @foreach (var recipe in Model)
        {
            <partial name="_RecipeCardHorizontalPartial" model="recipe" />
        }
    </div>
</body>