@model SueChef.ViewModels.CategoryPageViewModel

<body class="bg-orange-50">

    <div class="mb-4 px-5 sm:px-6 md:px-0">
        <div class="sticky top-12 rounded-md">
            <div class=" max-w-6xl mx-auto mb-2 ">
                <h1 class=" text-2xl font-semibold text-gray-800 trackling-tight py-4">@Model.Title</h1>
            </div>
        </div>

        <div class="relative overflow-hidden">
            <div id="posts-container" class="overflow-y-auto max-h-[70vh] pb-10 space-y-6">
                @foreach (var recipe in Model.Recipes)
                {
                    <partial name="_RecipeCardHorizontalPartial" model="recipe" />
                }
            </div>
        </div>
    </div>
</body>